@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Sans+SC&family=Noto+Sans+KR&display=swap');

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Noto Sans', 'Noto Sans JP', 'Noto Sans SC', 'Noto Sans KR', sans-serif;
}

h1 {
  font-weight: bold;
}

a,
.purple {
  text-decoration: none;
  color: hsla(270, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(270, 100%, 37%, 0.1);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
@media (pointer:fine) {
  .blob {
    /* an oval, blurred. */
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 400px;
    background: linear-gradient(45deg, hsla(270, 100%, 37%, 1), hsla(270, 100%, 37%, 0));
    border-radius: 50%;
    filter: blur(5rem);
    z-index: -1;
    /* fix the issue where the cursor is not in the middle */
    transform: translate(-50%, -50%);
    animation: blob 30s infinite;
  }
}

@keyframes blob {
  /* rotate the oval */
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}